@import "tailwindcss/preflight";
@tailwind utilities;
@import "tailwindcss";

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

@theme {
  --color-header-bg: #111111;
  --color-light-gray: #1F1E1E;
  --color-yellow-alert: #FFF600;
  --color-bermuda: #78dcca;
  --color-linear-gray: #1F1F1F;
  --color-linear-black: #0C0C0C;
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
